body{
  background-color: #f4f3ee;
  position: relative;
}

#welcomepic{
  width: 100%;
  margin:0;
  z-index: -3;
  height: auto;
}

.active{
  border: solid 0px #FC5185;
  transition: border-width 0.6s linear;

  background-image: url("eemeg03.png");
  vertical-align:middle;
  top: 0;
  left: 0;
  transition: all .2s;
  filter: saturate(1) brightness(1);
  object-fit: cover;
      width: 204px;
      height: 272px;
      bottom: auto;
}
.active:hover{
border-width: 2px;
}

.logo:hover{
  filter: saturate(1) brightness(1);

}
.block{
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  margin-bottom: 40px;
  text-align: center;
}
.caption{
  color: #4e4d4b;
  font-size: 10px;
}

.wrap{
  position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 900;
    height: 50px;
    background: transparent;
    padding: 10px 20px;
    line-height: 30px;
}
.inner{
position: relative;
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.hamburger{
  position: absolute;
    width: 15px;
    height: 26px;
    right: 0;
    top: 4px;
    cursor: pointer;
}
.logoo{
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.cart{
  position: absolute;
    right: 0;
    top: 0;
    color: #010101;
    font-size: 16px;
    line-height: 1.4em;
    font-weight: 200;
    line-height: 30px;

}
.welcome{
  text-align: center;
}
nav{
  z-index: 1000;

}
.logo{
  width: 100px;
  margin-top: auto;
  filter: saturate(1) brightness(10);
}
#main-nav {
  max-width: 30px;
  left: 0px;
	position: fixed;
	z-index: 10;
	top: 90px;
	-webkit-transition: all 0.2s ease;
  	-moz-transition:    all 0.2s ease;
  	-o-transition:      all 0.2s ease;
  	transition: 		all 0.2s ease;
    text-decoration: none;

}
#main-nav li {
	height: 40px;

}

#main-nav a {
	background-color: #ccc;
	line-height: 40px;
	display: inline-block;
	height: 40px;
	position: relative;
	border: none;
	color: #fff;
	font-size: 0;
	padding-left: 40px;
	overflow: hidden;
	-webkit-transition: all 0.2s ease;
  	-moz-transition:    all 0.2s ease;
  	-o-transition:      all 0.2s ease;
  	transition: 		all 0.2s ease;
}

#main-nav a:hover {
	font-size: 10px;
	padding-right: 20px;
}

#main-nav .active a {
	padding-right: 20px;
}

#nav-about a {
	background: #fff;
	color: #222;
}

#nav-reel a {
	background: #a1a1a1;
}

#nav-bats a {
	background: #DB8F0A;
}

#nav-crater-lake a {
	background: #405B69;
}

#nav-tn-aquarium a {
	background: #25818A;
}

#nav-contact a {
	background: #333;
}






nav{
  display: flex;
  justify-content: space-around;
   align-items: center;
   min-height: 10vh;
  background-color: transparent;
  font-family: 'Gayathri', sans-serif;
  z-index: 1;
  text-decoration: none;


}
.a01{
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 8px;
}
.logo{
  color: #ffdc34;
  letter-spacing: 5px;
  font-size: 20px;

}
.nav-links{

  display: flex;
  width: 40%;
justify-content: space-around;
list-style: none;

}
.burger{
  display: none;
  cursor: pointer;
}
.burger div{
  width: 17px;
  height: 1px;
    background-color: #4e4d4b;
    margin:5px;

}
@media screen and (max-width:1280px)  {
  .nav-links{
    display: flex;
    width: 40%;
  justify-content: space-around;
  list-style: none;
}
@media screen and (max-width:768px)  {
  body{
    overflow-x: hidden;
  }
.nav-links{
  z-index: 100000;
  position: fixed;
  right: 0px;
  height: 92vh;
  top: 10vh;
  background-color: #222831;
    ackground: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;

}
.nav-links li{
  opacity: 0;
}
.burger{
  display: block;

}
}

.nav-active{
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px );
  }
}
